.filter-panel{
    background-color: white;
}
.filter-item{
    background-color: #E6E6E6;
    border-radius: 5px;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:  pointer;
}
.filter-item.active{
    background: #0F538C;
    color: white;
}
.filter-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr;
    gap:5px;
}