.container{
  background-color: #F0F0F0;
  padding:30px;
}
/* .todo-item-text{
  font-style: italic;
} */
.task-input,.todo-item{
  border:0;
  background-color: white;
  width: 100%;
  padding :3px 5px;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
  margin-bottom: 5px;
}
.todo-item{
  display: flex;
  justify-content: space-between;
}